src/main/webapp/WEB-INF/wsdl/GoodShoes.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10 svn-revision#919b322c92f13ad085a933e8dd6dd35d4947364b. -->
<definitions targetNamespace="http://interfaces.service.soap.training.by/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://interfaces.service.soap.training.by/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://interfaces.service.soap.training.by/" schemaLocation="GoodShoes_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="getShoesPrice">
    <part name="parameters" element="tns:getShoesPrice"/>
  </message>
  <message name="getShoesPriceResponse">
    <part name="parameters" element="tns:getShoesPriceResponse"/>
  </message>
  <message name="setShoesPrice">
    <part name="parameters" element="tns:setShoesPrice"/>
  </message>
  <message name="setShoesPriceResponse">
    <part name="parameters" element="tns:setShoesPriceResponse"/>
  </message>
  <message name="getAllPrices">
    <part name="parameters" element="tns:getAllPrices"/>
  </message>
  <message name="getAllPricesResponse">
    <part name="parameters" element="tns:getAllPricesResponse"/>
  </message>
  <portType name="GoodShoes">
    <operation name="getShoesPrice">
      <input ns1:Action="http://interfaces.service.soap.training.by/GoodShoes/getShoesPriceRequest" message="tns:getShoesPrice" xmlns:ns1="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns2:Action="http://interfaces.service.soap.training.by/GoodShoes/getShoesPriceResponse" message="tns:getShoesPriceResponse" xmlns:ns2="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="setShoesPrice">
      <input ns3:Action="http://interfaces.service.soap.training.by/GoodShoes/setShoesPriceRequest" message="tns:setShoesPrice" xmlns:ns3="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns4:Action="http://interfaces.service.soap.training.by/GoodShoes/setShoesPriceResponse" message="tns:setShoesPriceResponse" xmlns:ns4="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
    <operation name="getAllPrices">
      <input ns5:Action="http://interfaces.service.soap.training.by/GoodShoes/getAllPricesRequest" message="tns:getAllPrices" xmlns:ns5="http://www.w3.org/2007/05/addressing/metadata"/>
      <output ns6:Action="http://interfaces.service.soap.training.by/GoodShoes/getAllPricesResponse" message="tns:getAllPricesResponse" xmlns:ns6="http://www.w3.org/2007/05/addressing/metadata"/>
    </operation>
  </portType>
</definitions>

